body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h3 {
    text-align: center;
}

label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

button:hover {
    background-color: #0056b3;
}

#days {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.option {
    padding: 15px;
    background-color: #eee;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.option:hover {
    background-color: #ddd;
}

.option.selected {
    background-color: #007bff;
    color: white;
}

.popup {
    display: none;
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.popup ul {
    list-style-type: none;
    padding: 0;
}

.popup ul li {
    margin: 10px 0;
    cursor: pointer;
}
